@font-face {
    font-family: roboto;
    src: url(fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-black;
    src: url(fonts/roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: roboto-medium;
    src: url(fonts/roboto/Roboto-Medium.ttf);
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#content {
    padding-left: 15px;
    margin-bottom: 50px;
}

body {
    background-color: #222;
    color: #ddd;
    font-family: roboto;
    margin: 0;
    font-size: 16px;
}

p {
    margin-top: 0;
}

h1 {
    margin-bottom: 0;
    font-family: roboto-light;
    font-weight: inherit;
}

h2 {
    margin-bottom: 13px;
    font-weight: inherit;
    font-family: roboto-bold;
}

h3 {
    margin-top: 0;
    font-family: roboto-light;
    font-weight: inherit;
}

h1,
h2 {
    color: white;
}

span:first-child {
    font-family: roboto-black;
    line-height: 32px;
}

.copy-on-click {
    width: auto;
    cursor: pointer;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #222;
    box-shadow: black 0 0 10px 0px;
}

footer a:link {
    color: inherit;
}