@font-face {
    font-family: 'Code128';
    src: url(../fonts/LibreBarcode128-Regular.ttf);
}

.label-content {
    display: grid;
    grid-template-areas: 'pages textarea';
    grid-template-columns: min-content 1fr;
}

.textarea {
    grid-area: 'textarea';
    margin: 16px;
}

.textarea textarea {
    background: #333;
    border-radius: 2px;
    color: white;
    border: none;
    resize: none;
    text-transform: uppercase;
    overflow-y: scroll;
}

.textarea textarea:focus {
    outline: none;
}

.page {
    width: 8.5in;
    height: 11in;
    margin: 16px;
    border: 2px solid #fff2;
    box-shadow: 0 0 12px #000;
    border-radius: 4px;
    padding: .5in .1875in;
    box-sizing: border-box;
}

.labels {
    display: grid;
    grid-template-columns: repeat(3, 2.625in);
    grid-template-rows: repeat(10, 1in);
    column-gap: .125in;
}

.label {
    display: block;
    /* box-sizing: content-box; */
    border: 2px dashed #fff2;
    border-radius: .1in;
    position: relative;
}

.label>input:placeholder-shown {
    user-select: none;
}

.label>input:placeholder-shown+img {
    display: none;
}

.label>input {
    position: absolute;
    padding: 0;
    top: .25in;
    left: 1in;
    width: 1.5in;

    font-size: .15in;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    background: #0000;
    color: white;
    border: none;
    border-radius: 3px;
}

.label>input:focus {
    background: #333;
    outline: none;
}

.label>img {
    position: absolute;
    height: .8in;
    top: .1in;
    left: .3in;
    filter: contrast(0) brightness(200%);
    user-select: none;
}

.label>label {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.625in;
    height: 1in;
    border-radius: .1in;
    cursor: text;
}

.label>span {
    position: absolute;
    top: 0.05in;
    left: 1in;
    width: 1.5in;
    text-align: center;
    font-family: Code128;
    font-size: 24px;
    transform: scaleX(1.2);
    user-select: none;
}

/* right hand toolbar */

nav.toolbar {
    position: fixed;
    top: 100px;
    right: 30px;
    background: #0000;
    box-shadow: none;
}

nav.toolbar a {
    box-shadow: 0 2px 4px black;
}

nav.toolbar a span {
    left: inherit;
    right: 60px;
    margin-left: 0;
    margin-right: 10px;
    float: right;
    transform: translateY(-50%) translateX(25%) scale(0.7);
}

nav.toolbar a:hover span {
    transform: translateY(-50%) scale(1);
}

nav.toolbar a span::after {
    border-left: 5px solid #eee0;
    border-right: none;
    left: inherit;
    right: -5px;
}

nav.toolbar a:hover span::after {
    border-left: 5px solid #eee;
    border-right: none;
}

@media print {
    body {
        display: block;
        background: white;
    }

    .content-wrapper {
        background: none;
    }

    .content {
        padding: 0;
    }

    .header,
    .toolbar,
    footer,
    nav,
    .textarea {
        display: none;
    }

    .page {
        margin: 0;
        box-shadow: none;
    }

    .label {
        border: none;
        color: black;
    }

    .label>input {
        color: black;
    }

    .label>img {
        filter: contrast(0.5) brightness(0);
    }
}