/* fonts */
@font-face {
    font-family: roboto;
    src: url(fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-black;
    src: url(fonts/roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: roboto-medium;
    src: url(fonts/roboto/Roboto-Medium.ttf);
}

/* layout */
body {
    height: 100vh;
    display: grid;
    grid-template-columns: 72px auto;
    grid-template-rows: min-content auto;
    grid-template-areas:
        "header header"
        "nav main";
}

.header {
    grid-area: header;
    box-shadow: black 0 0 10px 0px;
    background: #333;
    z-index: 1000;
}

.content-wrapper {
    background: #222;
    grid-area: main;
    overflow-y: auto;
}

/* navbar */
nav {
    background: #282828;
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-top: 10px;
    z-index: 999;
    box-shadow: black 0 0 10px 0px;
}

/* navbar items */
nav a {
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #444;
    transition: all .25s;
    text-decoration: none;
    cursor: pointer;
}

nav a:hover,
nav a:active,
nav a.active {
    background: #eee;
    border-radius: 30%;
}

nav a img {
    width: 28px;
    height: 28px;
    position: relative;
    top: -24px;
    left: 12px;
    filter: contrast(0%) brightness(200%);
    transition: all .25s;
}

nav a:hover img,
nav a.active img {
    filter: none;
}

/* navbar hr */
nav hr {
    width: 50%;
    height: 2px;
    background: #444;
    border: none;
    margin: 0;
}

/* navbar label */
nav a span {
    background: #eee0;
    color: #0000;
    font-family: roboto-bold;
    font-size: 14px;

    position: relative;
    left: 60px;
    top: 50%;
    margin-left: 5px;

    display: block;
    padding: 10px 12px;
    width: max-content;
    border-radius: 8px;
    transform: translateY(-50%) translateX(-25%) scale(0.7);
    transition: all .25s;
    pointer-events: none;
}

nav a span::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #eee0;

    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .25s;
}

nav a:hover span {
    display: block;
    color: #000f;
    background: #eeef;
    margin-left: 10px;
    transform: translateY(-50%) scale(1);
}

nav a:hover span::after {
    border-right: 5px solid #eeef;
}

/* padding around page */
.header {
    padding: 16px;
}

.content {
    padding: 0 10px 0 16px;
}

/* general formatting */
body {
    color: #ddd;
    font-family: roboto;
    margin: 0;
    font-size: 16px;
}

p {
    margin-top: 0;
}

.copy-on-click {
    width: auto;
    cursor: pointer;
}

/* headings formatting */
h1 {
    margin: 0;
    font-family: roboto-light;
    font-weight: inherit;
}

h2 {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    font-weight: inherit;
    font-family: roboto-bold;
}

h2::before {
    content: '# ';
    margin-right: 10px;
}

h2::after {
    content: '';
    background: #444;
    height: 2px;
    margin-left: 10px;
    flex: 1;
}

h3 {
    margin: 0;
    font-family: roboto-light;
    font-weight: inherit;
}

h1,
h2 {
    color: white;
}

h1,
h2,
h3 {
    user-select: none;
}

h1,
h3 {
    cursor: default;
}

/* first line (title of reason) */
.content span:first-child {
    font-family: roboto-black;
    line-height: 32px;
}

/* footer */
footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    box-shadow: black 0 0 10px 0px;
    clip-path: inset(-15px 0 1px 0);
}

footer a:link {
    color: inherit;
}

/* click animation */
particle {
    border-radius: 50px;
    top: 0;
    left: 0;
    pointer-events: none;
    position: fixed;
    width: 10px;
    background: white;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #0000;
}

::-webkit-scrollbar-thumb {
    background: #fff2;
}

::-webkit-scrollbar-thumb:hover {
    background: #fff3;
}

/* selection */
::selection {
    background: #555;
    color: white;
}

/* chill */
body {
    background: url(background.svg);
    background-size: cover;
    --transition: background-color 1s, box-shadow 1s;
}

.content-wrapper,
.header,
nav,
h2::after,
footer {
    transition: var(--transition);
}

body.chill .content-wrapper {
    background: #0000;
}

body.chill .header {
    background: #0003;
}

body.chill nav {
    background: #0003;
}

body.chill h2::after {
    background: #0000;
}

body.chill footer {
    box-shadow: none;
}

body.chill ::-webkit-scrollbar-thumb {
    background: #0003;
}

body.chill ::-webkit-scrollbar-thumb:hover {
    background: #0004;
}