@font-face {
    font-family: roboto;
    src: url(fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-black;
    src: url(fonts/roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: roboto-medium;
    src: url(fonts/roboto/Roboto-Medium.ttf);
}

.tab {
    overflow: hidden;
    background-color: inherit;
}

.tab .tablinks {
    color: white;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    padding: 14px 16px;
    margin-right: 12px;
    transition: 0.3s;
    border-radius: 2px;
}

.tab .tablinks:hover {
    background-color: #444;
}

.tab .tablinks:active,
.tab .tablinks.active {
    background-color: #666;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#content {
    padding-left: 15px;
    margin-bottom: 50px;
}

body {
    background-color: #222;
    color: #ddd;
    font-family: roboto;
    margin: 0;
    font-size: 16px;
}

p {
    margin-top: 0;
}

h1 {
    margin-bottom: 0;
    font-family: roboto-light;
    font-weight: inherit;
}

h2 {
    margin-bottom: 13px;
    font-weight: inherit;
    font-family: roboto-bold;
}

h2::before {
    content: "# ";
}

h3 {
    margin-top: 0;
    font-family: roboto-light;
    font-weight: inherit;
}

h1,
h2 {
    color: white;
}

.eheader p::first-line {
    font-family: roboto-black;
    line-height: 32px;
}

.copy-on-click {
    width: auto;
    cursor: pointer;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #222;
    box-shadow: black 0 -10px 10px -10px;
}

footer a:link {
    color: inherit;
}

particle {
    border-radius: 50px;
    top: 0;
    left: 0;
    pointer-events: none;
    position: fixed;
    width: 10px;
    background: white;
}