<!DOCTYPE html>

<html>

<head>
    <title>{{ page.title }} | HCPS Repair Scripts</title>
    <link rel="manifest" href="manifest.webmanifest">
    <link rel="stylesheet" href="assets/style.css">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/icon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/icon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/icon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/icon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="assets/icon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/icon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="assets/icon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/icon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="assets/icon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="assets/icon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="assets/icon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="assets/icon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="assets/icon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="HCPS Repair Scripts" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="assets/icon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="assets/icon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="assets/icon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="assets/icon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="assets/icon/mstile-310x310.png" />
</head>

<body>

    <nav>
        {% for tab in site.data.tabs %}
        <a {% if page.name contains tab.id %}class="active" {% endif %} href="{{ tab.id }}">
            <span>{{ tab.name }}</span>
            <img src="assets/svg/{{ tab.id }}.svg">
        </a>
        {% endfor %}

        <hr>

        <a id="backgroundtoggle" onclick="togglechill()">
            <span>Toggle Background</span>
            <img src="assets/svg/chill.svg">
        </a>
    </nav>

    <div class="header">
        <h1>Endpoint Technician Repair Scripts</h1>
        <h3>Harford County Public Schools</h3>
    </div>

    <div class="content-wrapper">

        <div class="content">

            <div>
                {{ page.content | markdownify }}
            </div>

        </div>

        <footer>
            <span>
                <a href="https://github.com/aidbennett/repair" class="pencil">✏️</a>
                <a href="mailto:aidan.bennett@hcps.org">Aidan Bennett</a> and
                <a href="mailto:conner.welker@hcps.org">Conner Welker</a></span>
        </footer>

    </div>

    <script src="assets/script.js"></script>

</body>

</html>