<!DOCTYPE html>

<html>

<head>
    <title>{{ page.title }} | HCPS Endpoint Utilities</title>
    <base href="/">
    <link rel="manifest" href="manifest.webmanifest">
    <link rel="stylesheet" href="assets/css/style.css?{{ 'now' | date: '%s' }}">

    <link rel="icon" type="image/png" href="assets/icon/favicon-512.png" sizes="512x512" />
    <meta name="application-name" content="HCPS Endpoint Utilities" />
</head>

<body>

    <div class="navs">

        <nav>
            {% for cat in site.data.tabs %}
            {% for tab in cat[1] %}
            <a {% if page.path contains tab.id %}class="active" {% endif %} href="{{ tab.id }}"
                data-tooltip="{{ tab.name }}" onmouseenter="showTooltip(event)" onmouseleave="hideTooltip(event)">
                <img src="assets/nav/{{ tab.id }}.svg">
            </a>
            {% endfor %}

            {% if forloop.last == false %}
            <hr>
            {% endif %}

            {% endfor %}
        </nav>

        {% if page.dir != "/" %}
        <nav class="subnav">
            {% assign catname = page.dir | split: "/" | slice: 1 %}
            {% assign cat = site.data.tabs.tools | where: "id", catname[0] %}
            {% for tab in cat[0].subpages %}
            <a class="subtab{% if page.name contains tab.id %} active{% endif %}" href="{{ catname }}/{{ tab.id }}"
                data-tooltip="{{ tab.name }}" onmouseenter="showTooltip(event)" onmouseleave="hideTooltip(event)">
                <img src="assets/nav/{{ tab.id }}.svg">
            </a>
            {% endfor %}
        </nav>
        {% endif %}

    </div>

    <div class="header">
        <h1>HCPS Endpoint Utilities</h1>
        <h3>{% if page.help %}{{ page.help | capitalize }} — {% endif %}{{ page.title }}</h3>
        {% if page.help %}<img class="help-button" src="assets/img/help.svg"
            onclick="document.getElementById('help-wrapper').classList = 'help-wrapper visible'">{% endif %}
    </div>

    {% if page.help %}

    <div class="help-wrapper" id="help-wrapper"
        onclick="document.getElementById('help-wrapper').classList = 'help-wrapper'">
        <span class="close-help">Click outside to close</span>
    </div>

    <div class="help" id="help" data-help="{{ page.help }}">
        {% assign help = site.data.help[page.help] %}
        {{ help | markdownify }}
    </div>

    {% endif %}

    <div class="content-wrapper">

        <div class="content">
            {{ content | markdownify }}
        </div>

        <footer>
            <a href="https://github.com/HCPS-OTIS/tools" target="_blank">Written</a> by
            <a href="https://teams.microsoft.com/l/chat/0/0?users=aidan.bennett@hcps.org" target="_blank">Aidan
                Bennett</a> and
            <a href="https://teams.microsoft.com/l/chat/0/0?users=conner.welker@hcps.org" target="_blank">Conner
                Welker</a>
        </footer>

    </div>

    <script src="assets/js/script.js?{{ 'now' | date: '%s' }}"></script>

    <script>
        var img = document.createElement("img");
        img.src = "https://goat.hcps.win/count?p=" + window.location.host + window.location.pathname;
        img.height = 0;
        document.body.append(img);
    </script>

</body>

</html>
