---
layout: default
---

<link rel="stylesheet" href="assets/css/labels.css?{{ 'now' | date: '%s' }}">
<script src="assets/js/labels.js?{{ 'now' | date: '%s' }}" type="module"></script>

<div id="margin-warning" class="margin-warning">
    <span class="left">Set print margins to None!</span>
</div>

{{ content }}

<nav class="toolbar">
    <a onclick="printLabels()" data-tooltip="Print" onmouseenter="showTooltip(event)" onmouseleave="hideTooltip(event)">
        <img src="assets/img/print.svg" alt="">
    </a>
    <a onclick="addPage()" id="addPage" data-tooltip="Add Page" onmouseenter="showTooltip(event)"
        onmouseleave="hideTooltip(event)">
        <img src="assets/img/add.svg" alt="">
    </a>
    <a onclick="removePage()" id="removePage" data-tooltip="Remove Page" onmouseenter="showTooltip(event)"
        onmouseleave="hideTooltip(event)">
        <img src="assets/img/delete.svg" alt="">
    </a>
</nav>