---
layout: default
---

<link rel="stylesheet" href="assets/css/labels.css?{{ 'now' | date: '%s' }}">
<script src="assets/js/labels.js" type="module"></script>

<div id="margin-warning" class="margin-warning">
    <span class="left">Set print margins to None!</span>
</div>

{{ content }}

<nav class="toolbar">
    <a onclick="printLabels()">
        <span>Print</span>
        <img src="assets/img/print.svg" alt="">
    </a>
    <a onclick="addPage()" id="addPage">
        <span>Add Page</span>
        <img src="assets/img/add.svg" alt="">
    </a>
    <a onclick="removePage()" id="removePage">
        <span>Remove Page</span>
        <img src="assets/img/delete.svg" alt="">
    </a>
</nav>